body {
    background-color: #fffbf7;
  }
  
  h1 {
    color: #025157;
    text-align: center;
    font-family: 'Pacifico', cursive;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
  }
  
  li {
    display: inline;
    margin: 0 25px;
    color: #025157;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }

  .fix-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }
  
  .logo {
    width: 15%;
  }
  
  .logo > img {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
  }
  
  .actions {
    width: 14%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
  }

  .actions a {
    color: #67b54b;
  }

  .actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-color: transparent;
    border-radius: 5px;
  }
  
  .main {
    margin-top: 285px;
    text-align: center;
  }

  /*video {
    width: 25%;
    height: 25%;
    margin-left: 30%;
    border: 1px solid grey;
    padding: 5px;
  }*/

  h2 {
    color: #025157;
    font-family: 'Pacifico', cursive;
  }

  .article-par {
    color: #343434;
  }

  .article-class p {
    font-size: 16px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }
  
  .art-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .art-video img {
    width: 30px;
    margin-top: 10px;
  }